/* Style général pour le conteneur */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style pour le conteneur des formulaires */
.form-container {
    display: flex;
    justify-content: space-between;
}

/* Style pour les formulaires */
.form-box {
    width: 45%; /* Ajustez la largeur selon vos besoins */
    padding: 20px;
    border: 1px solid #ccc;
}

/* Style spécifique pour le formulaire d'inscription */
.registration {
    margin-right: 10px;
}

/* Style spécifique pour le formulaire de connexion */
.login {
    margin-left: 10px;
}

